h1 {
    color:rgb(15, 13, 13)
}
.header {
    background-color:grey;
    display: flex;
    justify-content:space-between;
}
.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer {
    display:flex;
    justify-content:flex-end;
}